.tabs {
	// .tabs__navigation
	margin-top: rem(100);
	padding-bottom: rem(52);
	&__navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		border-radius: 20px;
		padding: 18px 24px;

		font-weight: 500;
		@include adaptiveValue("font-size", 22, 16);
		line-height: 33px;
		text-align: center;
		letter-spacing: -0.500211px;
	}
	// .tabs__title
	&__title {
		padding: rem(24) rem(15);
		border-radius: rem(10);
		width: rem(290);
		&._tab-active {
		}
	}
	// .tabs__content
	&__content {
		margin-top: rem(73);
	}
	// .tabs__body
	&__body {
	}
}	

// Смена цвета блока навигации при изменении общего цвета страницы ( Dark & Ligyt )
html.dark body {
	.tabs {
		&__navigation {
			background: #171F26;
			color: #A3ABB2;
		}
		&__title {
			transition: all .5s;
			@media (any-hover: hover){
				&:hover{
					color: rgba(255, 224, 113, 0.7)
				}
			}
			&._tab-active {
				background: #0C151D;
				border: none;
				color: rgba(255, 224, 113, 0.7)
			}
		}
	}
}
html.light body {
	.tabs {
		&__navigation {
			background: #FFFFFF;
			color: #19191B;
			}
		&__title {
			transition: all .5s;
			@media (any-hover: hover){
				&:hover{
					color: #6f8498;
				}
			}
			&._tab-active {
				background: #D7D7D7;
				border: none;
				color: #6f8498;
			}
		}
	}
}

// CARDS  ...............................................................................................
.section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	@media (max-width:$mobile) {
		display: flex;
		flex-wrap: wrap; 
	}
}
  .card {
	min-width: 362px;
	height: 226px;
	padding: 5px;
	margin: 10px;
	position: relative;
	border-radius: 7px;
	perspective: 2000px;
	@media (max-width: em(355)){
		min-width: 310px;
	}
	@media (min-width:$pc){
		&:hover &-front {
			transform: rotateY(180deg);
		  }
		  &:hover &-back {
			transform: rotateY(360deg);
		  } 
	}
	/* &-front {
		@media (pointer: fine) {
			&:hover {
				transform: rotateY(180deg);
			}
		 }
	}
	&-back  {
		@media (pointer: fine) {
			&:hover {
				transform: rotateY(360deg);
			}
		 }
	} */
	&-front {
		@media(min-width:768px){
			pointer-events: none;
	    }
	}
	&-front, &-back {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  border-radius: 7px;
	  backface-visibility: hidden;
	  transition: 0.5s;
	}
	/* &-back {
		@media (max-width:$mobile){
			 display: none; 
		}
	} */
	&-front {
	  &__image {
		img {
			border-radius: 9px;
			filter: grayscale(65%);
		   }
	   }
	}
	&-back {
		background: linear-gradient(0deg, rgba(229, 223, 203, 0.88), rgba(255, 224, 113, 0.88));
		color: #FFFFFF;
		transform: rotateY(180deg);
	  	&__title {
			font-weight: 500;
			font-size: 22px;
			line-height: 33px;
			text-align: center;
			letter-spacing: -0.531474px;
			color: #3D3D3D;
	    }
		&__sub {
			margin-top: rem(20);
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			text-align: center;
			letter-spacing: -0.531474px;
			color: #3D3D3D;
		}
		&__click {
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			text-align: center;
			letter-spacing: -0.531474px;
			color: #3D3D3D;
		}
	}
}
// CARDS  END ...............................................................................................


//========================================== SKILL Set ==========================================================
.skills-block{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: em(768)){
          justify-content: center;
          align-items: center;
          gap: rem(40);
    }
  }
.skills-block .skills{
    position: relative;
}
  
.skills-block .skills .face{
    width: 350px;
    height: 250px;
    transition:.4s;
    position: relative;
}
  
.skills-block .skills .face.face1{
    position: relative;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(125px);
}
.skills-block .skills .face.face1 .content{
    opacity: .3;
    transition:  0.5s;
    text-align: center;
}
  
.skills-block .skills:hover .face.face1 .content{
    opacity: 1;
}
  
.skills-block .skills .face.face1 .content i{
    font-size: 4em;
    display: inline-block;
}
  
.skills-block .skills .face.face1 .content h3{
    font-size: 22px;
    text-align: center;
    margin-top: rem(10);
    font-family: 'Poppins';
}
  
.skills-block .skills .face.face1 .content a{
    transition: .5s;
}
  
.skills-block .skills .face.face2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,.8);
    transform: translateY(-125px);
}
  
.skills-block .skills:hover .face.face2{
    transform: translateY(0);
}
  
.skills-block .skills .face.face2 .content p, a{
    font-size: rem(16);
    line-height: 18px;
    margin: 0 ;
    padding: 0;
    color:rgb(34, 34, 34);
}
  
.skills-block .skills .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}
  
.skills-block .skills .face.face2 .content a:hover{
    background: #333 ;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
}
html.dark body {
    .skills-block .skills:hover .face.face1{
        transform: translateY(0);
        box-shadow:
            inset 0 0 60px rgb(223, 223, 188),
            inset 20px 0 80px #fae190,
            inset -20px 0 80px #3c4349,
            inset 20px 0 300px #fae190,
            inset -20px 0 300px #3c4349,
            0 0 50px rgb(219, 197, 162),
            -10px 0 80px #fae190,
            10px 0 80px #3c4349;
    }
    .skills-block .skills .face.face1{
        background: #171F26;
    }
    .skills-block .skills .face.face1 .content i{
        color: #fae190;
    }
    .skills-block .skills .face.face1 .content h3{
        color: #fae190;
    }
    .skills-block .skills .face.face2{
        background: #fae190;
        opacity: .3;
    }
}
html.light body {
    .skills-block .skills:hover .face.face1{
        transform: translateY(0);
        box-shadow:
        inset 0 0 60px #F5E8C7,
        inset 20px 0 80px #DEB6AB,
        inset -20px 0 80px #F5E8C7,
        inset 20px 0 300px #FFB473,
        inset -20px 0 300px #F5E8C7,
        0 0 50px #fff,
        -10px 0 80px #FFB473,
        10px 0 80px #F5E8C7; 
    }
    .skills-block .skills .face.face1{
        background: #F7ECDE;
    }
    .skills-block .skills .face.face1 .content i{
        color: #1d1c1a;
        opacity: .5;
    }
    .skills-block .skills .face.face1 .content h3{
        color: #101011;
    }
    .skills-block .skills .face.face2{
        background: rgba(163, 171, 178, 0.5);
    }
}

//========================================== SKILL Set ==========================================================

