// Заголовки, общие БЄМ блоки и проче...
$image-size: 215px;
@keyframes bounceOut {
    0%{ box-shadow: 0 0 0 4px #E70FAA; opacity:1;}
    25%{ box-shadow: 0 0 0 1px #00C0FD; opacity:1;}
    50%{ box-shadow: 0 0 0 7px #E70FAA; opacity:1; }
    75%{ box-shadow: 0 0 0 4px #00C0FD; opacity:1;}
    100%{ box-shadow: 0 0 0 5px #E70FAA; opacity:1;}
}