//====================================================================================================
.footer {
    padding-top: rem(78);
    padding-bottom: rem(80);
    &__text {
        font-style: normal;
        font-weight: 400;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 33px;
        text-align: center;
    }
}
html.dark body {
    .footer {
        &__text {
            color: rgba(163, 171, 178, 0.5);
        }
    }
}
html.light body {
    .footer {
        &__text {
            color: rgba(37, 39, 41, 0.5);
        }
    }
}
//====================================================================================================
