//====================================================================================================
.footer {
    padding-top: rem(78);
    padding-bottom: rem(80);
    &__text {
        font-style: normal;
        font-weight: 400;
        @include adaptiveValue("font-size", 22, 16);
        line-height: 33px;
        color: rgba(163, 171, 178, 0.5);
        text-align: center;
    }
}
//====================================================================================================
